# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example



# exclude android & ios directory for now
# active development by using command 'npx expo run:android', but don't want to actually eject from expo for now
# can always directly delete these directories & run command again
android
ios

# amplify
.amplify
amplify_outputs*
amplifyconfiguration*
